  <html>
  <head>
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/inicio.css" rel="stylesheet">
  </head>
  <body>
    <h1 align="center">Bienvenido :)!</h1>
    <form class="form-horizontal col-sm-offset-3" id="formulario" role="form">
      <div class="form-group">
	<label for="usuario_form" class="col-sm-2 control-label">Usuario:</label>
	<div class="col-sm-4">
	  <input type="text" data-bind="value: user" class="form-control" id="usuario_form" placeholder="Número de cuenta">
	</div>
      </div>
      <div class="form-group">
	<label for="password_form" class="col-sm-2 control-label">Password:</label>
	<div class="col-sm-4">
	  <input type="password" data-bind="value: pass" class="form-control" id="password-form" placeholder="Contraseña">
	</div>
      </div>
      <div class="form-group">
	<div class="col-sm-offset-2 col-sm-3">
	  <button class="btn btn-default" data-bind="click: inicio_sesion">Iniciar sesion</button>
	</div>
	<div class="col-sm-offset-2">
	  <button class="btn btn-default">Registrate</button>
	</div>
      </div>
    </form>
    <script type="text/javascript" src="https://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../lib/knockout.js"></script>
    <script type="text/javascript" src="../js/inicio.js"></script>
  </body>
</html>
